/* start variables */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}
/* end variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* end Global Rules */
/* start components */
.main-heading{
    text-align: center;
}
.main-heading h2{
    margin-bottom: 40px;
    position: relative;
    font-weight: normal;
    color: #4b4b4b;
}
.main-heading h2::before{
    content: "";
    width: 90px;
    height: 1px;
    background-color: #4b4b4b;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50% , -50%);
}
.main-heading h2::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid #4b4b4b;
    background-color: white;
    border-radius: 50%;
    bottom: -10px;
    left: 50%;
    transform: translate(-50% , 0);
    bottom: -24.5px;
}
.main-heading p{
    margin: auto;
    color: #7d7d7d;
    max-width: 540px;
}
@media (max-width:767px){
    .main-heading p{
        max-width: 400px;
    }
}
/* end components */
/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}
header .logo img{
    height: 40px;
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu{
    color: white;
    font-size: 22px;
}
@media (min-width: 768px){
    header nav .toggle-menu{
        display: none;
    }
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px){
    header nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 20px;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
        header nav ul li a{
            padding: 15px !important;
        }
}
header nav ul li a{
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header nav ul li a:active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom:1px solid var(--main-color);
    
}
header nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* end header */
/* start landing */
.landing{
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 40%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content{
    max-width: 600px;
}
@media (max-width:838px){
    .landing .text{
        width: 60%;
    }
    .landing .text .content{
        width: 100%;
    }
}
@media (max-width:767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
}

.landing .text .content h2{
    font-size: 30px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
}
.landing .change-background{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
@media (max-width:767px){
    .landing .change-background{
        display: none;
    }
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start section */
.service{
    padding: 60px;
}
.service .service-content{
    width: fit-content;
    margin:80px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    column-gap: 80px;
}
.service .service-content .srv{
    display: flex;
    margin-bottom: 40px;
}
.service .service-content .srv .text{
    flex: 1;
}
.service .service-content .srv i{
    flex-basis: 60px;
    color: gray;
}
.service .service-content .col .srv .text h3{
    margin: 0 0 20px;
    margin-left: 30px;
    color: var(--main-color);
}
.service .service-content .col .srv .text p{
    margin-left: 30px;
    width: 100%;
}

/* end section */
/* start our designs */
.our-design{
    height: 80vh;
    background-image: url(../images/designs.webp);
    background-size: cover;
    background-color: #1f2021;
    position: relative;
    overflow: hidden;
}
.our-design .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0  ,60%);
}
.our-design{
    position: relative;
}
.our-design .content{
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-start;

}
.our-design .content .text{
    width: 60%;
    color: white;
    padding: 40px;
}
@media (max-width:1352px){
    .our-design .content{
        width: 50%;
    }
    .our-design .content .text{
        width: 100%;
    }
}
@media (max-width:838px){
    .our-design .content{
        width: 60%;
    }
    .our-design .content .text{
        width: 100%;
    }
}
@media (max-width:767px){
    .our-design .content{
        width: 100%;
    }
    .our-design .content .text{
        max-width: 100%;
    }
}
.our-design .content .text h3{
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 25px;
}
.our-design .content .text .srv{
    margin-bottom: 20px;
    font-weight: normal;
}
.our-design .content .text .srv p{
    display: inline;
    padding-left: 20px;
    font-size: 14px;
}
.our-design .iphone{
    position: absolute;
    bottom: -70px;
    left: 450px;
}
@media (max-width:1628px){
    .our-design .iphone{
        left: 300px;
    }
}
@media (max-width:1352px){
    .our-design .iphone{
        left: 200px;
    }
}
@media (max-width:1225px){
    .our-design .iphone{
        left: 100px;
    }
}
@media (max-width:931px){
    .our-design .iphone{
        display: none;
    }
}
/* end our designs */
/* start portifolio */
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.portfolio .main-heading p{
    margin-bottom: 120px;
}
.portfolio ul {
    width: 500px;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px){
    .portfolio ul{
        width: 200px;
        margin-left: 45px;
    }
}
.portfolio ul li{
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}
@media (max-width:767px){
    .portfolio ul li{
        padding: 5px 10px 5px 10px;
    }
}
.portfolio .active{
    background-color: var(--main-color);
    color: white;
}
.portfolio .images{
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows: 300px;
}
@media (max-width:1665px){
    .portfolio .images{
            grid-template-columns: repeat(3 , 1fr);
    }
}
@media (max-width:1287px){
    .portfolio .images{
            grid-template-columns: repeat(2 , 1fr);
    }
}
@media (max-width:880px){
    .portfolio .images{
            grid-template-columns: repeat(1 , 1fr);
            grid-auto-rows: 400px;
    }
}
.portfolio .images .box{
    overflow: hidden;
}
.portfolio .images .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio .images .edit{
    position: relative;
}
.portfolio .images .edit .text{
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: white;
    bottom: 0;
    padding: 20px;
}
.portfolio .images .edit .text p{
    position: relative;
    left: -150px;
    margin-bottom: 10px;
}
@media (max-width:880px){
    .portfolio .images .edit .text p{
        left: -300px;
    }
}
@media (max-width:767px){
    .portfolio .images .edit .text p{
        left: -130px;
    }
}
.portfolio .images .edit .text p:last-of-type{
    color: var(--main-color);
    font-size: 14px;
    margin-left: -30px;
}
.portfolio .images .edit::before{
    content: "+";
    padding: 30px 40px 30px 40px;
    font-size: 50px;
    font-weight: 100;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--transparent-color);
    color: white;
    border-radius: 50%;
}
.portfolio button{
    padding: 10px 50px 10px 50px;
    margin:50px auto;
    background-color: var(--main-color);
    color: white;
    border: none;
}
/* end portifolio */
/* start awesome video */
.awesome-video{
    background-image: url(../images/video-section-1.jpg);
    height: 70vh;
    background-size: cover;
    position: relative;
}
.awesome-video .overlay{
    position: absolute;
    left: 0;
    top: 0;
        background-color: rgb(0, 0, 0, 40%);
    width: 100%;
    height: 100%;
}
.awesome-video .content{
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: var(--transparent-color);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    justify-content: center;
}
.awesome-video .content .text {
    width: fit-content;
    text-align: center;
    color: white;
}
.awesome-video .content .text p{
    margin-bottom: 40px;
}
.awesome-video .content .text p:first-of-type{
    font-size: 30px;
    font-weight: 500;
}
@media (max-width:767px){
    .awesome-video .content .text p:first-of-type{
        font-size: 25px;
    }
}
.awesome-video .content .text p:last-of-type{
    font-size: 14px;
}
.awesome-video .content .text button{
    background-color: black;
    color: white;
    padding: 10px 30px 10px 30px;
    border: none;
}
/* end awesome video */
/* start about us */
.about-us{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.about-us .image{
    width: fit-content;
    margin: 50px auto;
    position: relative;
    bottom: -110px;
}
@media (max-width:767px){
    .about-us .image img{
        display: none;
    }
}
.about-us .statistics{
    height: 80vh;
    background-image: url(../images/about-us-2.jpg);
    background-size: cover;
    position: relative;
}
.about-us .statistics .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 60%);
}
.about-us .statistics .content{
    position: relative;
    padding: 20px;
    width: 80%;
    background-color: var(--transparent-color);
    color: white;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width:1140px){
    .about-us .statistics .content{
        width: 100%;
    }
}
@media (max-width:767px){
    .about-us .statistics .content{
        flex-wrap: wrap;
    }
}
.about-us .statistics .content .srv i{
    padding:20px 30px 20px 30px;
    background-color: #1c1e1f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
}.about-us .statistics .content .srv{
    width: 150px;
    text-align: center;
}
.about-us .statistics .content .srv p{
    margin-bottom: 25px;
}
.about-us .statistics .content .srv p:first-of-type{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
}
/* end about us */
/* start  testimonials & our skills */
.skills{
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2 , minmax(300px , 1fr));
}
@media (max-width:1070px){
    .skills{
        grid-template-columns: 1fr;
    }
}
.skills .main-heading h2::before,
.skills .main-heading h2::after{
    display: none;
}
.skills .testimonals{
    position: relative;    
}
@media (max-width:1070px){
    .skills .testimonals{
        margin-bottom: 100px;
    }
}
.skills .testimonals .srv{
    position: relative;
    top: 60px;
    left: 140px;
}
@media (max-width:1070px){
    .skills .testimonals .srv{
        position: relative;
        left: 0px;
    }
}
.skills .testimonals .srv p:first-of-type{
    width: 400px;
    margin:60px auto;
    border-bottom: 1px solid black;
    padding-bottom: 60px;
    position: relative;
}
.skills .testimonals .srv p:last-of-type{
    position: absolute;
    bottom: 20px;
    right: 30%;
    color: #c2c2c2;
}
@media (max-width:1070px){
    .skills .testimonals .srv p:first-of-type{
        width: 300px;
        border: none;
        
    }
    .skills .testimonals .srv p:last-of-type{
        right: 47%;
    }
}
@media (max-width:767px){
    .skills .testimonals .srv p:last-of-type{
        right: 42%;
    }
}
.skills .testimonals .srv .image{
    position: absolute;
    left: 100px;
    top: -20px;
}
@media (max-width:1665px){
    .skills .testimonals .srv .image{
        left: 60px;
    }
}
@media (max-width:1515px){
    .skills .testimonals .srv .image{
        left: -20px;
    }
}
@media (max-width:1235px){
    .skills .testimonals .srv .image{
        left: -70px;
    }
}
@media (max-width: 1070px){
    .skills .testimonals .srv .image{
        position: relative;
        left: 43%;
    }   
}
@media (max-width: 767px){
    .skills .testimonals .srv .image{
        position: relative;
        left: 33%;
    }   
}
.skills .testimonals .srv .image img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}
.skills .testimonals .bullets{
    position: absolute;
    left: 60%;
    transform: translateY(-50%);
    bottom: -30px;
    display: flex;
}
@media (max-width:1070px){
    .skills .testimonals .bullets{
        left: 46%;
    }
}
.skills .testimonals .bullets li{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
}
.skills .testimonals .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.jobs{
    margin: auto;
    width: 100%;
    height: 100%;
}
.jobs .job{
    width: 80%;
    padding-top: 40px;
    margin: auto;
}
.jobs .job .skill{
    margin-top: 30px;
}
.jobs .job .skill .raing-1,
.jobs .job .skill .raing-2,
.jobs .job .skill .raing-3,
.jobs .job .skill .raing-4{
    width: 100%;
    height: 40px;
    background-color: #ccc;
}
.jobs .job .skill p{
    margin-bottom: 10px;
}
.jobs .job .skill .raing-1 div{
    width: 95%;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.jobs .job .skill .raing-1 div::after{
    content: "95%";
    position: absolute;
    padding: 4px;
    background-color: black;
    color: white;
    left: 97.1%;
    top: -42px;
}
.jobs .job .skill .raing-1 div::before{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: black;
    left: 98.5%;
    top: -15px;
}
.jobs .job .skill .raing-2 div{
    width: 93%;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.jobs .job .skill .raing-2 div::after{
    content: "93%";
    position: absolute;
    padding: 4px;
    background-color: black;
    color: white;
    left: 97.1%;
    top: -41px;
}
.jobs .job .skill .raing-2 div::before{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: black;
    left: 98.5%;
    top: -15px;
}
.jobs .job .skill .raing-3 div{
    width: 85%;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.jobs .job .skill .raing-3 div::after{
    content: "85%";
    position: absolute;
    padding: 4px;
    background-color: black;
    color: white;
    left: 97%;
    top: -41px;
}
.jobs .job .skill .raing-3 div::before{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: black;
    left: 98.3%;
    top: -15px;
}
.jobs .job .skill .raing-4 div{
    width: 87%;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.jobs .job .skill .raing-4 div::after{
    content: "87%";
    position: absolute;
    padding: 4px;
    background-color: black;
    color: white;
    left: 97%;
    top: -41px;
}
.jobs .job .skill .raing-4 div::before{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: black;
    left: 98.3%;
    top: -15px;
}
/* end  testimonials & our skills */
/* start before pricing */
.before-pricing{
    height: 50vh;
    background-image: url(../images/before-pricing.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}
.before-pricing .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 60%);
}
.before-pricing .text{
    position: absolute;
    padding: 20px;
    width: 1400px;
    z-index: 3;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
@media (max-width:1280px){
    .before-pricing .text{
        width: 1000px;
    }
}
@media (max-width:960px){
    .before-pricing .text{
        width: 800px;
    }
}
@media (max-width:780px){
    .before-pricing .text{
        width: 600px;
    }
}
@media (max-width:767px){
    .before-pricing .text{
        width: 400px;
    }
}
.before-pricing .text p{
    text-align: center;
    line-height: 1.5;
}
.before-pricing .text p:first-of-type{
    font-size: 30px;
    margin-bottom: 20px;
}
@media (max-width:1280px){
    .before-pricing .text p:first-of-type{
        font-size: 25px;
    }
}
@media (max-width:960px){
    .before-pricing .text p:first-of-type{
        font-size: 20px;
    }
    .before-pricing .text p:last-of-type{
        font-size: 14px;
    }
}
@media (max-width:780px){
    .before-pricing .text p:first-of-type{
        font-size: 17px;
    }
    .before-pricing .text p:last-of-type{
        font-size: 13px;
    }
}
/* end before pricing */
/* start pricing */
.pricing{
    padding-top: 60px;
    padding-bottom: 60px;
}
.pricing .offers{
    margin: 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 10px;
    text-align: center;
}
.pricing .offers .offer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.pricing .offers .offer p:first-child{
    width: 90%;
    padding: 20px;
    border-top: 1px solid var(--main-color);
    color: #a3a3a3;
}
.pricing .offers .offer p:nth-child(2){
    width: 90%;
    padding: 20px;
    border-bottom: 1px solid var(--main-color);
    font-size: 14px;
}
.pricing .offers .offer p:nth-child(2) span{
    font-size: 40px;
}
.pricing .offers .offer p:nth-child(2) span sup{
    font-size: 20px;
    font-weight: normal;
}
.pricing .offers .offer p:nth-child(3),
.pricing .offers .offer p:nth-child(4),
.pricing .offers .offer p:nth-child(5),
.pricing .offers .offer p:nth-child(6){
    padding: 20px;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid var(--main-color);
    color: black;
}
.pricing .offers .offer p:nth-child(6){
    width: 90%;
}
.pricing .offers .offer button{
    margin-top: 60px;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--main-color);
}
.pricing .offers .offer button:hover{
    background-color: var(--main-color);
    color: white;
}
.pricing .contact{
    padding-top: 40px;
    text-align: center;
}
.pricing .contact p{
    margin-bottom: 40px;
}
.pricing .contact button{
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: var(--main-color);
    border: none;
}
.pricing .contact button:hover{
    color: black;
    background-color: #a3a3a3;
}
/* end pricing */
/* start before-contactus */
.before-contactus{
    background-image: url(../images/contactus-4.jpg);
    height: 60vh;
    background-size: cover;
    position: relative;
}
.before-contactus .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 40%);
}
.before-contactus .contact{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.before-contactus .contact .email{
    border: 2px solid white;
    color: white;
    width: 600px;
    height: 60px;
    position: relative;
}
@media (max-width:767px){
    .before-contactus .contact .email{
        width: 380px;
    }
}
.before-contactus .contact .email i{
    height: 100%;
    width: 50px;
    margin: 20px auto;
}
.before-contactus .contact .email input{
    height: 100%;
    width: 60%;
    background-color: transparent;
    border: none;
    outline: none;
}
@media (max-width:767px){
    .before-contactus .contact .email input{
        width: 54.3%;
    }
}
.before-contactus .contact .email input:focus{    
    color: white;
}
.before-contactus .contact .email input::placeholder{
    color: white;
}
.before-contactus .contact .email button{
    height: 100%;
    width: 30.2%;
    background-color: var(--main-color);
    color: white;
    border: none;
}
.before-contactus .contact .par{
    margin-left: 30px;
    color: white;
    width: 35%;
}
@media (max-width:980px){
    .before-contactus .contact .par{
        width: 70%;
        margin-top: 40px;
    }
}
@media (max-width:740px){
    .before-contactus .contact .par{
        width: 100%;
    }
}
/* end before-contactus */
/* start contact us */
.contactus{
    padding-top: 60px;
    padding-bottom: 60px;
}
.contactus .data{
    margin-top: 60px;
    margin-left: 170px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
@media (max-width:800px){
    .contactus .data{
        margin-left: 50px;
    }
}
@media (max-width:750px){
    .contactus .data{
        margin-left: 20px;
    }
}
.contactus .data .form{
    width: 100%;
}
.contactus .data .form input,
.contactus .data .form textarea{
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    
}
.contactus .data .form input::placeholder,
.contactus .data .form textarea::placeholder{
    color: black;
}
.contactus .data .form textarea{
    height: 300px;
}
.contactus .data .intouch-weare div{
    margin-left: 30px;
}
@media (max-width:750px){
    .contactus .data .intouch-weare div{
        margin-top: 5px;
        margin-left: 15px;
    }
}
.contactus .data .intouch-weare .intouch{
    margin-bottom: 100px;
    font-size: 13px;
}
.contactus .data .intouch-weare .intouch p:first-child{
    margin-bottom: 30px;
}
.contactus .data .intouch-weare .intouch p:nth-child(2){
    margin-bottom: 10px;
    color: #a3a3a3;
}
.contactus .data .intouch-weare .intouch p:last-child{
    margin-bottom: 10px;
    color: #a3a3a3;
}
.contactus .data .intouch-weare .weare{
    margin-bottom: 150px;
    font-size: 13px;
}
.contactus .data .intouch-weare .weare p:first-child{
    margin-bottom: 40px;
}
.contactus .data .intouch-weare .weare p:nth-child(2){
    margin-bottom: 8px;
    color: #a3a3a3;
}
.contactus .data .intouch-weare .weare p:nth-child(3){
    margin-bottom: 8px;
    color: #a3a3a3;
}
.contactus .data .intouch-weare .weare p:nth-child(4){
    margin-bottom: 8px;
    color: #a3a3a3;
}
.contactus .data .intouch-weare .weare p:last-child{
    margin-bottom: 8px;
    color: #a3a3a3;
}
.contactus .submit{
    width: 100%;
    text-align: center;
}
.contactus .submit button{
    padding: 10px 20px 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
}
.contactus .submit button:hover{
    background-color: #a3a3a3;
    color: black;
}
/* end contact us */
/* start the footer */
.footer{
    background-image: url(../images/the-end.jpg);
    height: 50vh;
    background-size: cover;
    position: relative;
}
.footer .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 65%);
}
.footer .image{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
}
.footer .social{
    position: absolute;
    left: 50%;
    top: 240px;
    transform: translateX(-50%);
}
.footer .social p{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid white;
    color: white;
}
.footer .social .links{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.footer .social .links a{
    color: white;
}
.footer .copyright p{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    text-align: center;
}
.footer .copyright p span{
    color: var(--main-color);
}
/* end the footer */